Repository GianniCecchetto/ChessAnywhere, pull requests merged in 2025-09, with the labels that each got.

#96 Réajuster le path des tests
  app/test/test_chess_anywhere_api.py
Labels: documentation, app, software

#108 Add Firmware Code comments
  firmware/.project:Zone.Identifier
  firmware/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs:Zone.Identifier
  firmware/.settings/language.settings.xml:Zone.Identifier
  firmware/.settings/org.eclipse.core.resources.prefs:Zone.Identifier
  firmware/.settings/stm32cubeide.project.prefs:Zone.Identifier
  firmware/Core/Inc/bitmap.h:Zone.Identifier
  firmware/Core/Inc/fifo.h
  firmware/Core/Inc/main.h:Zone.Identifier
  firmware/Core/Inc/stm32g0xx_it.h:Zone.Identifier
  firmware/Core/Src/bitmap.c:Zone.Identifier
  firmware/Core/Src/fifo.c
  firmware/Core/Src/main.c
  firmware/Core/Src/stm32g0xx_it.c:Zone.Identifier
  firmware/Core/Src/syscalls.c:Zone.Identifier
  firmware/Core/Src/sysmem.c:Zone.Identifier
  firmware/Core/Src/system_stm32g0xx.c:Zone.Identifier
  firmware/Core/Startup/startup_stm32g030f6px.s:Zone.Identifier
  firmware/Debug/Core/Src/fifo.cyclo
  firmware/Debug/Core/Src/fifo.o
  firmware/Debug/Core/Src/fifo.su
  firmware/Debug/Core/Src/main.cyclo
  firmware/Debug/Core/Src/main.o
  firmware/Debug/Core/Src/main.su
  firmware/Debug/Core/Startup/subdir.mk:Zone.Identifier
  firmware/Debug/firmware.elf
  firmware/Debug/firmware.list
  firmware/Debug/firmware.map
  firmware/Debug/makefile:Zone.Identifier
  firmware/Debug/objects.mk:Zone.Identifier
  firmware/Debug/sources.mk:Zone.Identifier
  firmware/README.md
Labels: documentation, stm32

#111 Fix heading and enhance testing instructions in README
  README.md
Labels: documentation
